err

root@test03:/opt/snmp_exporter/generator# ./generator parse_errors -m /opt/cisco/cisco-mibs/v2/
time=2024-11-28T05:30:31.742Z level=INFO source=net_snmp.go:173 msg="Loading MIBs" from=/opt/cisco/cisco-mibs/v2/
time=2024-11-28T05:30:34.906Z level=WARN source=main.go:176 msg="NetSNMP reported parse error(s)" errors=148
Did not find 'DisplayString' in module #-1 (/opt/cisco/cisco-mibs/v2//draft-ietf-ipfc-fcmgmt-int-mib-04.my)
Group not found in module (snmpCommunityGroup): At line 120 in /opt/cisco/cisco-mibs/v2//ONS15501-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 173 in /opt/cisco/cisco-mibs/v2//ONS15501-CAPABILITY.my
Expected "::=" (LAST-UPDATED): At line 38 in /opt/cisco/cisco-mibs/v2//MPLS-LSR-MIB-CAPABILITY.my
Group not found in module (mplsLdpNotificationGroup): At line 63 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityLableDistrubtionMethod): At line 122 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfGenericIfIndexOrZero): At line 172 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfGenericLabel): At line 176 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfStorageType): At line 180 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfRowStatus): At line 184 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLDPEntityAtmStorageType): At line 226 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpPeerLoopDetectionForPv): At line 354 in /opt/cisco/cisco-mibs/v2//MPLS-LDP-CAPABILITY.my
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2//IEEE8021-CFM-MIB.my)
Did not find 'docsIf3CmSpectrumAnalysisCtrlCmd' in module DOCS-IF3-MIB (/opt/cisco/cisco-mibs/v2//DOCS-PNM-MIB.mib)
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2912 of /opt/cisco/cisco-mibs/v2//DOCS-PNM-MIB.mib
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2899 of /opt/cisco/cisco-mibs/v2//DOCS-PNM-MIB.mib
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2853 of /opt/cisco/cisco-mibs/v2//DOCS-PNM-MIB.mib
Bad month in timestamp (000926000000Z): At line 72 in /opt/cisco/cisco-mibs/v2//DOCS-CABLE-DEVICE-TRAP-MIB.my
Bad day in timestamp (000926000000Z): At line 72 in /opt/cisco/cisco-mibs/v2//DOCS-CABLE-DEVICE-TRAP-MIB.my
Textual convention doesn't map to real type (EOF): At line 393 in /opt/cisco/cisco-mibs/v2//CISCO-ST-TC.my
: (is a reserved word): At line 393 in /opt/cisco/cisco-mibs/v2//CISCO-ST-TC.my
STATUS should be current or obsolete (deprecated): At line 141 in /opt/cisco/cisco-mibs/v2//CISCO-XGCP-CAPABILITY.my
STATUS should be current or obsolete (deprecated): At line 566 in /opt/cisco/cisco-mibs/v2//CISCO-XGCP-CAPABILITY.my
Did not find 'ciscoAgentCapability' in module CISCOWAN-SMI (/opt/cisco/cisco-mibs/v2//CISCO-WAN-MODULE-CAPABILITY.my)
Unlinked OID in CISCO-WAN-MODULE-CAPABILITY: ciscoWanModuleCapability ::= { ciscoAgentCapability 99999 }
Undefined identifier: ciscoAgentCapability near line 22 of /opt/cisco/cisco-mibs/v2//CISCO-WAN-MODULE-CAPABILITY.my
Group not found in module (cvDsx1ConfGroupSup2): At line 50 in /opt/cisco/cisco-mibs/v2//CISCO-VISM-DSX1-CAPABILITY.my
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-VIRTUAL-INTERFACE-MIB.my)
Bad timestamp format (11 or 13 characters) (20110202000Z): At line 40 in /opt/cisco/cisco-mibs/v2//CISCO-TELEPRESENCE-CALL-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 105 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 151 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 192 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 233 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 261 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 287 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 340 in /opt/cisco/cisco-mibs/v2//CISCO-SNMPv2-CAPABILITY.my
Undefined OBJECT-GROUP (ciscoSipRetryConfigGroupRev5): At line 4594 in /opt/cisco/cisco-mibs/v2//CISCO-SIP-UA-MIB.my
DESCRIPTION must be string (TEXTUAL-CONVENTION): At line 575 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-TC-MIB.my
Textual convention doesn't map to real type (EOF): At line 616 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-TC-MIB.my
: (is a reserved word): At line 616 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-TC-MIB.my
Did not find 'RttMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonLpdFailureSense' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonLpdGrpStatus' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMonProtocol' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMonCodecType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMonLSPPingReplyMode' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMonTargetAddress' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'RttMonReactVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-MIB.my)
Did not find 'CipslaPercentileVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-RTTMON-IP-EXT-MIB.my)
Group not found in module (ciscoCtrlGroupRev3): At line 64 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoCtrlGroupRev5): At line 70 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoStatsGroupRev6): At line 114 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoStatsGroupRev6): At line 231 in /opt/cisco/cisco-mibs/v2//CISCO-RTTMON-CAPABILITY.my
Module not found (RFC1407-MIB): At line 52 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1407-CAPABILITY.my
Module not found (RFC1407-MIB): At line 183 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1407-CAPABILITY.my
Module not found (RFC1406-MIB): At line 57 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1406-MIB): At line 237 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1406-MIB): At line 412 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1213-MIB): At line 58 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 98 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 149 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 200 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 251 in /opt/cisco/cisco-mibs/v2//CISCO-RFC1213-CAPABILITY.my
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-PSM-MIB.my)
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-PORT-CHANNEL-MIB.my)
Bad operator (/): At line 88 in /opt/cisco/cisco-mibs/v2//CISCO-OSPF-TRAP-CAPABILITY.my
Bad operator (/): At line 244 in /opt/cisco/cisco-mibs/v2//CISCO-OSPF-CAPABILITY.my
Object not found in module (cmsProfileReportSuppression): At line 70 in /opt/cisco/cisco-mibs/v2//CISCO-MLD-SNOOPING-CAPABILITY.my
**Error, END before start of MIB: At line 868 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-TC-MIB.my**
Did not find 'cLApSysMacAddress' in module CISCO-LWAPP-AP-MIB (/opt/cisco/cisco-mibs/v2//CISCO-LWAPP-DOT11-MIB.my)
Did not find 'cLApDot11IfSlotId' in module CISCO-LWAPP-AP-MIB (/opt/cisco/cisco-mibs/v2//CISCO-LWAPP-DOT11-MIB.my)
Expected "::=" (.): At line 199 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-MIB.my
Bad format for OBJECT-TYPE (ciscoLwappRFMIBCompliances): At line 1758 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-MIB.my
Bad parse of OBJECT-TYPE: At line 1758 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-MIB.my
Did not find 'cLRFProfileHighDensityMaxRadioClients' in module CISCO-LWAPP-RF-MIB (/opt/cisco/cisco-mibs/v2//CISCO-LWAPP-AP-MIB.my)
Did not find 'cLRFProfileHDClientTrapThreshold' in module CISCO-LWAPP-RF-MIB (/opt/cisco/cisco-mibs/v2//CISCO-LWAPP-AP-MIB.my)
Group not found in module (cLRFProfileTable): At line 55 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLRFProfileChannelListTable): At line 56 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLRFProfileRemoveChannelTable): At line 57 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLAPGroupsRFProfileTable): At line 58 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfile11nOnly): At line 61 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileOutOfBoxAPConfig): At line 65 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileOutOfBoxAPPersistenceConfig): At line 69 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChannelListEntry): At line 73 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanNumber): At line 77 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanAddRemove): At line 81 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanRowStatus): At line 85 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileRemovedChannelDcaState): At line 89 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroupsRFProfileEntry): At line 93 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroups802dot11bgRFProfileName): At line 97 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroups802dot11aRFProfileName): At line 101 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-RF-CAPABILITY.my
Bad identifier (}): At line 4480 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-QOS-MIB.my
Undefined OBJECT (cLQVoiceWlanConfigDetectVoipCallFailure): At line 4301 in /opt/cisco/cisco-mibs/v2//CISCO-LWAPP-QOS-MIB.my
STATUS should be current or obsolete (deprecated): At line 60 in /opt/cisco/cisco-mibs/v2//CISCO-ITP-GACT-CAPABILITY.my
Did not find 'RttMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonReactVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonCtrlIndex' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonIdLst' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2//CISCO-IPSLA-ETHERNET-MIB.my)
Group not found in module (cpwVcMplsNotificationGroup): At line 60 in /opt/cisco/cisco-mibs/v2//CISCO-IETF-PW-MPLS-CAPABILITY.my
Group not found in module (cnatStatisticsGroup): At line 50 in /opt/cisco/cisco-mibs/v2//CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatConfDynAddrMapType): At line 172 in /opt/cisco/cisco-mibs/v2//CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatSessionOrigPulbicPort): At line 339 in /opt/cisco/cisco-mibs/v2//CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatSessionCurrentIdleTime): At line 349 in /opt/cisco/cisco-mibs/v2//CISCO-IETF-NAT-CAPABILITY.my
Unlinked OID in CISCO-IETF-FRR-CAPABILITY: ciscoIetfFrrCapability ::= { ciscoAgentCapability 310 }
Undefined identifier: ciscoAgentCapability near line 23 of /opt/cisco/cisco-mibs/v2//CISCO-IETF-FRR-CAPABILITY.my
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2//CISCO-FLEX-LINKS-MIB.my)
Did not find 'FcAddress' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FCPING-MIB.my)
Did not find 'FcAddressType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FCPING-MIB.my)
Did not find 'FcAddress' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FCTRACEROUTE-MIB.my)
Did not find 'FcAddressType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FCTRACEROUTE-MIB.my)
Bad identifier (}): At line 7655 in /opt/cisco/cisco-mibs/v2//CISCO-FC-FE-MIB.my
Undefined OBJECT-GROUP (TransceiverPowerControl): At line 7052 in /opt/cisco/cisco-mibs/v2//CISCO-FC-FE-MIB.my
Did not find 'FcIfSpeed' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FC-FE-MIB.my)
Did not find 'FcIfServiceStateType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2//CISCO-FC-FE-MIB.my)
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2//CISCO-EVC-MIB.my)
Bad syntax (OBJECT): At line 95 in /opt/cisco/cisco-mibs/v2//CISCO-ETHERLIKE-CAPABILITY.my
Expected DESCRIPTION (OBJECT): At line 95 in /opt/cisco/cisco-mibs/v2//CISCO-ETHERLIKE-CAPABILITY.my
Group not found in module (entitySensorValueGroupSup1): At line 332 in /opt/cisco/cisco-mibs/v2//CISCO-ENTITY-SENSOR-CAPABILITY.my
Group not found in module (entitySensorValueGroupSup1): At line 495 in /opt/cisco/cisco-mibs/v2//CISCO-ENTITY-SENSOR-CAPABILITY.my
Group not found in module (entitySensorNotifCtrlGlobalGroup): At line 496 in /opt/cisco/cisco-mibs/v2//CISCO-ENTITY-SENSOR-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 272 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 278 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 435 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 441 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 597 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 603 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 793 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 798 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 886 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 891 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 941 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 947 in /opt/cisco/cisco-mibs/v2//CISCO-DS1-CAPABILITY.my
Bad syntax (OBJECT): At line 268 in /opt/cisco/cisco-mibs/v2//CISCO-BRIDGE-CAPABILITY.my
Expected DESCRIPTION (OBJECT): At line 268 in /opt/cisco/cisco-mibs/v2//CISCO-BRIDGE-CAPABILITY.my
VARIATION (is a reserved word): At line 99 in /opt/cisco/cisco-mibs/v2//CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
DESCRIPTION (is a reserved word): At line 143 in /opt/cisco/cisco-mibs/v2//CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
: (is a reserved word): At line 145 in /opt/cisco/cisco-mibs/v2//CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
Bad operator (2): At line 145 in /opt/cisco/cisco-mibs/v2//CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
root@test03:/opt/snmp_exporter/generator# ./generator parse_errors -m /opt/cisco/cisco-mibs/v2
time=2024-11-28T05:31:01.963Z level=INFO source=net_snmp.go:173 msg="Loading MIBs" from=/opt/cisco/cisco-mibs/v2
time=2024-11-28T05:31:05.158Z level=WARN source=main.go:176 msg="NetSNMP reported parse error(s)" errors=148
Did not find 'DisplayString' in module #-1 (/opt/cisco/cisco-mibs/v2/draft-ietf-ipfc-fcmgmt-int-mib-04.my)
Group not found in module (snmpCommunityGroup): At line 120 in /opt/cisco/cisco-mibs/v2/ONS15501-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 173 in /opt/cisco/cisco-mibs/v2/ONS15501-CAPABILITY.my
Expected "::=" (LAST-UPDATED): At line 38 in /opt/cisco/cisco-mibs/v2/MPLS-LSR-MIB-CAPABILITY.my
Group not found in module (mplsLdpNotificationGroup): At line 63 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityLableDistrubtionMethod): At line 122 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfGenericIfIndexOrZero): At line 172 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfGenericLabel): At line 176 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfStorageType): At line 180 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpEntityConfRowStatus): At line 184 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLDPEntityAtmStorageType): At line 226 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Object not found in module (mplsLdpPeerLoopDetectionForPv): At line 354 in /opt/cisco/cisco-mibs/v2/MPLS-LDP-CAPABILITY.my
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2/IEEE8021-CFM-MIB.my)
Did not find 'docsIf3CmSpectrumAnalysisCtrlCmd' in module DOCS-IF3-MIB (/opt/cisco/cisco-mibs/v2/DOCS-PNM-MIB.mib)
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2912 of /opt/cisco/cisco-mibs/v2/DOCS-PNM-MIB.mib
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2899 of /opt/cisco/cisco-mibs/v2/DOCS-PNM-MIB.mib
Unlinked OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
Undefined identifier: docsIf3CmSpectrumAnalysisCtrlCmd near line 2853 of /opt/cisco/cisco-mibs/v2/DOCS-PNM-MIB.mib
Bad month in timestamp (000926000000Z): At line 72 in /opt/cisco/cisco-mibs/v2/DOCS-CABLE-DEVICE-TRAP-MIB.my
Bad day in timestamp (000926000000Z): At line 72 in /opt/cisco/cisco-mibs/v2/DOCS-CABLE-DEVICE-TRAP-MIB.my
Textual convention doesn't map to real type (EOF): At line 393 in /opt/cisco/cisco-mibs/v2/CISCO-ST-TC.my
: (is a reserved word): At line 393 in /opt/cisco/cisco-mibs/v2/CISCO-ST-TC.my
STATUS should be current or obsolete (deprecated): At line 141 in /opt/cisco/cisco-mibs/v2/CISCO-XGCP-CAPABILITY.my
STATUS should be current or obsolete (deprecated): At line 566 in /opt/cisco/cisco-mibs/v2/CISCO-XGCP-CAPABILITY.my
Did not find 'ciscoAgentCapability' in module CISCOWAN-SMI (/opt/cisco/cisco-mibs/v2/CISCO-WAN-MODULE-CAPABILITY.my)
Unlinked OID in CISCO-WAN-MODULE-CAPABILITY: ciscoWanModuleCapability ::= { ciscoAgentCapability 99999 }
Undefined identifier: ciscoAgentCapability near line 22 of /opt/cisco/cisco-mibs/v2/CISCO-WAN-MODULE-CAPABILITY.my
Group not found in module (cvDsx1ConfGroupSup2): At line 50 in /opt/cisco/cisco-mibs/v2/CISCO-VISM-DSX1-CAPABILITY.my
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-VIRTUAL-INTERFACE-MIB.my)
Bad timestamp format (11 or 13 characters) (20110202000Z): At line 40 in /opt/cisco/cisco-mibs/v2/CISCO-TELEPRESENCE-CALL-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 105 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 151 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 192 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 233 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 261 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 287 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Group not found in module (snmpCommunityGroup): At line 340 in /opt/cisco/cisco-mibs/v2/CISCO-SNMPv2-CAPABILITY.my
Undefined OBJECT-GROUP (ciscoSipRetryConfigGroupRev5): At line 4594 in /opt/cisco/cisco-mibs/v2/CISCO-SIP-UA-MIB.my
DESCRIPTION must be string (TEXTUAL-CONVENTION): At line 575 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-TC-MIB.my
Textual convention doesn't map to real type (EOF): At line 616 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-TC-MIB.my
: (is a reserved word): At line 616 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-TC-MIB.my
Did not find 'RttMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonLpdFailureSense' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMplsVpnMonLpdGrpStatus' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMonProtocol' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMonCodecType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMonLSPPingReplyMode' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMonTargetAddress' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'RttMonReactVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-MIB.my)
Did not find 'CipslaPercentileVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-RTTMON-IP-EXT-MIB.my)
Group not found in module (ciscoCtrlGroupRev3): At line 64 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoCtrlGroupRev5): At line 70 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoStatsGroupRev6): At line 114 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-CAPABILITY.my
Group not found in module (ciscoStatsGroupRev6): At line 231 in /opt/cisco/cisco-mibs/v2/CISCO-RTTMON-CAPABILITY.my
Module not found (RFC1407-MIB): At line 52 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1407-CAPABILITY.my
Module not found (RFC1407-MIB): At line 183 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1407-CAPABILITY.my
Module not found (RFC1406-MIB): At line 57 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1406-MIB): At line 237 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1406-MIB): At line 412 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1406-CAPABILITY.my
Module not found (RFC1213-MIB): At line 58 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 98 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 149 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 200 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1213-CAPABILITY.my
Module not found (RFC1213-MIB): At line 251 in /opt/cisco/cisco-mibs/v2/CISCO-RFC1213-CAPABILITY.my
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-PSM-MIB.my)
Did not find 'PortMemberList' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-PORT-CHANNEL-MIB.my)
Bad operator (/): At line 88 in /opt/cisco/cisco-mibs/v2/CISCO-OSPF-TRAP-CAPABILITY.my
Bad operator (/): At line 244 in /opt/cisco/cisco-mibs/v2/CISCO-OSPF-CAPABILITY.my
Object not found in module (cmsProfileReportSuppression): At line 70 in /opt/cisco/cisco-mibs/v2/CISCO-MLD-SNOOPING-CAPABILITY.my
Error, END before start of MIB: At line 868 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-TC-MIB.my
Did not find 'cLApSysMacAddress' in module CISCO-LWAPP-AP-MIB (/opt/cisco/cisco-mibs/v2/CISCO-LWAPP-DOT11-MIB.my)
Did not find 'cLApDot11IfSlotId' in module CISCO-LWAPP-AP-MIB (/opt/cisco/cisco-mibs/v2/CISCO-LWAPP-DOT11-MIB.my)
Expected "::=" (.): At line 199 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-MIB.my
Bad format for OBJECT-TYPE (ciscoLwappRFMIBCompliances): At line 1758 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-MIB.my
Bad parse of OBJECT-TYPE: At line 1758 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-MIB.my
Did not find 'cLRFProfileHighDensityMaxRadioClients' in module CISCO-LWAPP-RF-MIB (/opt/cisco/cisco-mibs/v2/CISCO-LWAPP-AP-MIB.my)
Did not find 'cLRFProfileHDClientTrapThreshold' in module CISCO-LWAPP-RF-MIB (/opt/cisco/cisco-mibs/v2/CISCO-LWAPP-AP-MIB.my)
Group not found in module (cLRFProfileTable): At line 55 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLRFProfileChannelListTable): At line 56 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLRFProfileRemoveChannelTable): At line 57 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Group not found in module (cLAPGroupsRFProfileTable): At line 58 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfile11nOnly): At line 61 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileOutOfBoxAPConfig): At line 65 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileOutOfBoxAPPersistenceConfig): At line 69 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChannelListEntry): At line 73 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanNumber): At line 77 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanAddRemove): At line 81 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileChanRowStatus): At line 85 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLRFProfileRemovedChannelDcaState): At line 89 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroupsRFProfileEntry): At line 93 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroups802dot11bgRFProfileName): At line 97 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Object not found in module (cLAPGroups802dot11aRFProfileName): At line 101 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-RF-CAPABILITY.my
Bad identifier (}): At line 4480 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-QOS-MIB.my
Undefined OBJECT (cLQVoiceWlanConfigDetectVoipCallFailure): At line 4301 in /opt/cisco/cisco-mibs/v2/CISCO-LWAPP-QOS-MIB.my
STATUS should be current or obsolete (deprecated): At line 60 in /opt/cisco/cisco-mibs/v2/CISCO-ITP-GACT-CAPABILITY.my
Did not find 'RttMonRttType' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonReactVar' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonCtrlIndex' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-IPSLA-ETHERNET-MIB.my)
Did not find 'RttMonIdLst' in module CISCO-RTTMON-TC-MIB (/opt/cisco/cisco-mibs/v2/CISCO-IPSLA-ETHERNET-MIB.my)
Group not found in module (cpwVcMplsNotificationGroup): At line 60 in /opt/cisco/cisco-mibs/v2/CISCO-IETF-PW-MPLS-CAPABILITY.my
Group not found in module (cnatStatisticsGroup): At line 50 in /opt/cisco/cisco-mibs/v2/CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatConfDynAddrMapType): At line 172 in /opt/cisco/cisco-mibs/v2/CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatSessionOrigPulbicPort): At line 339 in /opt/cisco/cisco-mibs/v2/CISCO-IETF-NAT-CAPABILITY.my
Object not found in module (cnatSessionCurrentIdleTime): At line 349 in /opt/cisco/cisco-mibs/v2/CISCO-IETF-NAT-CAPABILITY.my
Unlinked OID in CISCO-IETF-FRR-CAPABILITY: ciscoIetfFrrCapability ::= { ciscoAgentCapability 310 }
Undefined identifier: ciscoAgentCapability near line 23 of /opt/cisco/cisco-mibs/v2/CISCO-IETF-FRR-CAPABILITY.my
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2/CISCO-FLEX-LINKS-MIB.my)
Did not find 'FcAddress' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FCPING-MIB.my)
Did not find 'FcAddressType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FCPING-MIB.my)
Did not find 'FcAddress' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FCTRACEROUTE-MIB.my)
Did not find 'FcAddressType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FCTRACEROUTE-MIB.my)
Bad identifier (}): At line 7655 in /opt/cisco/cisco-mibs/v2/CISCO-FC-FE-MIB.my
Undefined OBJECT-GROUP (TransceiverPowerControl): At line 7052 in /opt/cisco/cisco-mibs/v2/CISCO-FC-FE-MIB.my
Did not find 'FcIfSpeed' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FC-FE-MIB.my)
Did not find 'FcIfServiceStateType' in module CISCO-ST-TC (/opt/cisco/cisco-mibs/v2/CISCO-FC-FE-MIB.my)
Did not find 'VlanIdOrNone' in module Q-BRIDGE-MIB (/opt/cisco/cisco-mibs/v2/CISCO-EVC-MIB.my)
Bad syntax (OBJECT): At line 95 in /opt/cisco/cisco-mibs/v2/CISCO-ETHERLIKE-CAPABILITY.my
Expected DESCRIPTION (OBJECT): At line 95 in /opt/cisco/cisco-mibs/v2/CISCO-ETHERLIKE-CAPABILITY.my
Group not found in module (entitySensorValueGroupSup1): At line 332 in /opt/cisco/cisco-mibs/v2/CISCO-ENTITY-SENSOR-CAPABILITY.my
Group not found in module (entitySensorValueGroupSup1): At line 495 in /opt/cisco/cisco-mibs/v2/CISCO-ENTITY-SENSOR-CAPABILITY.my
Group not found in module (entitySensorNotifCtrlGlobalGroup): At line 496 in /opt/cisco/cisco-mibs/v2/CISCO-ENTITY-SENSOR-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 272 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 278 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 435 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 441 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 597 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 603 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 793 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 798 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 886 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 891 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineMode): At line 941 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Object not found in module (dsx1LineBuildOut): At line 947 in /opt/cisco/cisco-mibs/v2/CISCO-DS1-CAPABILITY.my
Bad syntax (OBJECT): At line 268 in /opt/cisco/cisco-mibs/v2/CISCO-BRIDGE-CAPABILITY.my
Expected DESCRIPTION (OBJECT): At line 268 in /opt/cisco/cisco-mibs/v2/CISCO-BRIDGE-CAPABILITY.my
VARIATION (is a reserved word): At line 99 in /opt/cisco/cisco-mibs/v2/CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
DESCRIPTION (is a reserved word): At line 143 in /opt/cisco/cisco-mibs/v2/CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
: (is a reserved word): At line 145 in /opt/cisco/cisco-mibs/v2/CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
Bad operator (2): At line 145 in /opt/cisco/cisco-mibs/v2/CISCO-ATM-PVCTRAP-EXTN-CAPABILITY.my
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileName ::= { docsIf3CmSpectrumAnalysisCtrlCmd 12 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdMeasStatus ::= { docsIf3CmSpectrumAnalysisCtrlCmd 11 }
Cannot adopt OID in DOCS-PNM-MIB: docsIf3CmSpectrumAnalysisCtrlCmdFileEnable ::= { docsIf3CmSpectrumAnalysisCtrlCmd 10 }
