Wrong module name to import in CISCO-TS-STACK-MIB

The following error message was displayed when loading CISCO-TS-STACK-MIB.
I’m not actually using this MIB.
However, I noticed it because errors occur when trying to load all v1 and v2 MIBs.

[Error Messages (snmptranslate command)]
Cannot find module (**RFC1493**): At line 17 in ./v1/**CISCO-TS-STACK-MIB.my**
Cannot find module (**RFC-1513**): At line 29 in ./v1/**CISCO-TS-STACK-MIB.my**

[Relevant Code]
https://github.com/cisco/cisco-mibs/blob/main/v1/CISCO-TS-STACK-MIB.my#L16-L17
```
   Timeout
           FROM RFC1493
```

https://github.com/cisco/cisco-mibs/blob/main/v1/CISCO-TS-STACK-MIB.my#L27-L29
```
   ringStationIfIndex,
   ringStationMacAddress
           FROM RFC-1513
```

I checked the definition in the RFC and found that the name was different.

* RFC1493 -> BRIDGE-MIB
* RFC-1513 -> TOKEN-RING-RMON-MIB

RFC1493
https://datatracker.ietf.org/doc/html/rfc1493#section-5
> **BRIDGE-MIB** DEFINITIONS ::= BEGIN

RFC-1513
https://datatracker.ietf.org/doc/html/rfc1513#section-5
> **TOKEN-RING-RMON-MIB** DEFINITIONS ::= BEGIN


> RFC1493 -> BRIDGE-MIB

In cisco-mibs, BRIDGE-MIB were defined in the following files.

v1: RFC 1493 based
https://github.com/cisco/cisco-mibs/blob/main/v1/BRIDGE-MIB.my

v2: RFC 4188 based (Obsoletes: 1493)
https://github.com/cisco/cisco-mibs/blob/main/v2/BRIDGE-MIB.my


> RFC-1513 -> TOKEN-RING-RMON-MIB

In cisco-mibs, TOKEN-RING-RMON-MIB was defined in the following file.

v1: RFC 1513 based
https://github.com/cisco/cisco-mibs/blob/main/v1/TOKEN-RING-RMON-MIB.my

I am not opposed to the change, I just need to verify what the source file on the internal repo looks like and if we need to change there and replicate out. 